<br />
<h1>Your name will change when you type on the input below {{ name }}</h1>
<input type="text" [(ngModel)]="name" />
<app-hello></app-hello>
<p>name: {{ user.name }}</p>
<p>age: {{ user.age }}</p>
<br />
<input type="text" [value]="user.name" />
<br />
<button (click)="logUserName()">Click me to get user name</button>
<!-- sẽ đc parse thành HTMLInputElement{
  type: 'text',
  value: 'adds',
  attributes: [],
  ....
} -->

<!-- toString() khi display 1 gia tri nao do, string interpolation -->

<br />
<br />
<app-user-card></app-user-card>
