<!-- <ul>
  <li *ngFor="let user of users">
    {{ user.name }} - {{ user.id }} - {{ user.phone }}
  </li>
</ul>
<app-progress-bar
  [progress]="15"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'#2e8b57'"
></app-progress-bar>
<app-progress-bar
  [progress]="80"
  [backgroundColor]="'#9e9e9e'"
  [progressColor]="'red'"
></app-progress-bar>
<app-version-parent></app-version-parent> -->
<!-- <app-author-list></app-author-list> -->
<!-- <button (click)="toggleComp.toggle()">toggle</button>
<app-toggle #toggleComp></app-toggle> -->
<p></p>
<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
<h1>Hello {{ name }}</h1>

<!-- <app-toggle [(checked)]="checked" #toggleComp></app-toggle> -->
<br />
<!-- <button (click)="toggleComp.toggle()">click to toggle</button> -->
<app-toggle [(checked)]="checked">
  <h3>header 1</h3>
  <label>question 1</label>
  <p>content 1</p>
</app-toggle>
<br />
<app-toggle [(checked)]="checked">
  <h3>header 2</h3>
  <label>question 2</label>
  <p>content 2</p>
</app-toggle>
