<div class="card">
  <img
    src="https://image.winudf.com/v2/image1/Y29tLmJlc3R3YWxscGFwZXJkZXYud2FsbHBhcGVyZm9ycm9uYWxkb19zY3JlZW5fMF8xNjA4NjI4MjEzXzA2Mg/screen-0.jpg?fakeurl=1&type=.jpg"
    alt="John"
    style="width: 100%"
  />
  <h1>{{ userRonaldo.name }}</h1>
  <p class="title">{{ userRonaldo.title }}</p>
  <p>{{ userRonaldo.company }}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
